/* Colors
    - Green: hsl(107, 100%, 25%)
    - Brown: hsl(37, 80%, 25%)
*/

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsla(107, 100%, 25%, 0.1);
}

header {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(100, 255, 100, 0)), url("resources/Grass.png");
    background-size: 100% 100%;
    color: hsl(107, 100%, 25%);
    display: flex;
    align-items: center;
}

header img {
    max-width: 5%;
    margin: 25px;
    padding: 15px;
    
}

header h1 {
    display: inline-block;
    color:hsl(107, 100%, 25%);
    font-size: 36px;
    line-height: 50px;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    background-color: hsl(107, 100%, 25%);
    color: white;
}

nav div {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    font-size: 24px;
	flex: 0 1 25%;
    transition: background 1s;
}

nav div:hover {
    background-color: hsl(107, 100%, 25%);
}


main {
    margin: 50px 150px;
    text-align: center;
}

main h2 {
    color:hsl(107, 100%, 25%);
}

main p {
    padding: 25px 0px;
}

main img {
    max-width: 50%;
    max-height: 50%;
}